@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.game {
    height: 100vh;
    background-color: rgb(39, 41, 68);
    font-family: sans-serif;
}

.score {
    color: rgb(236, 236, 236);
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score h2 {
    font-size: 1.5em;
}

.score p {
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}

.intro {
    color: rgb(236, 236, 236);
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
}

.intro h1 {
    font-size: 50px;
}

.intro button,
.match button {
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: rgb(236, 236, 236);
    font-size: 20px;
    background: rgb(45, 117, 96);
    border-radius: 0px;
    cursor: pointer;
}

.match {
    margin: -20em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.winner {
    color: rgb(236, 236, 236);
    text-align: center;
    font-size: 50px;
}

.hands {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-hand {
    transform: rotateY(180deg);
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

@keyframes shakePlayer {
    0% {
        transform: rotateY(180deg) translateY(0px);
    }

    15% {
        transform: rotateY(180deg) translateY(-50px);
    }

    25% {
        transform: rotateY(180deg) translateY(0px);
    }

    35% {
        transform: rotateY(180deg) translateY(-50px);
    }

    50% {
        transform: rotateY(180deg) translateY(0px);
    }

    65% {
        transform: rotateY(180deg) translateY(-50px);
    }

    75% {
        transform: rotateY(180deg) translateY(0px);
    }

    85% {
        transform: rotateY(180deg) translateY(-50px);
    }

    100% {
        transform: rotateY(180deg) translateY(0px);
    }
}

@keyframes shakeComputer {
    0% {
        transform: translateY(0px);
    }

    15% {
        transform: translateY(-50px);
    }

    25% {
        transform: translateY(0px);
    }

    35% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(0px);
    }

    65% {
        transform: translateY(-50px);
    }

    75% {
        transform: translateY(0px);
    }

    85% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 800px) {
    .intro h1 {
        font-size: 35px;
    }
    .winner {
        font-size: 35px;
    }
}